# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Testes
.pytest_cache/
.coverage
htmlcov/
*.cover

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Logs
*.log
logs/

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Dados
*.db
*.sqlite
celerybeat-schedule*

# Backup
*.backup*
